<div class="jumbotron">
    <h2>Welcome to the home page</h2>
    <form class="form-inline" method="GET" action="/">
        <div class="form-group">
            <input class="form-control" type="text" name="search" placeholder="Search Books..." aria-label="Search">
            <input class="btn btn-default" type="submit" value="Search">
        </div>
    </form>
</div>
{{#result}}
<div class="col-sm-4 col-xs-12">
    <div class="card">
    <img src="/img/logo_site.jpg" alt="Denim Jeans" style="width:100%">
    <h3>{{name}}</h3>
    <p class="price">Rupee : {{SellingPrice}}</p>
    <p><a href='/users/more-info/{{_id}}'>MORE INFO</a></p>
    <p><button>Add to Cart</button></p>
    </div> 
</div>
{{/result}}