<div class="back-container">
    <div class="form-container">
        <h3>REGISTER</h3>
        <form method="post" action="/users/signup" class="input-group">
            <label for="username">USERNAME:</label>
            <input type="text" name="username" id="username" class="input-field" required>
            <label for="email">EMAIL:</label>
            <input type="email" name="email" id="email"  class="input-field" required>
            <label for="password">PASSWORD:</label>
            <input type="password" name="password" id="password"  class="input-field" required>
            <input type="submit" name="Submit" value="Submit" class="submit-btn">
        </form>
        <a class="back-to-register" href="/users/signin">LOGIN</a>
    </div>
</div>