
<div class="jumbotron">
    <h1 class="header">Welcome to the OLD book shopping</h1>
</div>
<!-- here i have to add a search bar for searching books to buy-->

<!--Navigation to profile and logout option only when login otherwise login and register button-->
<nav class="navbar navbar-inverse">
    {{#if email}}
        <ul class="nav navbar-nav">
            <li><a href="/users/home">HOME</a></li>
            <li><a href="/users/profile">PROFILE</a></li>
        </ul>
        <form method="POST" action="/users/logout"><button class="btn btn-danger navbar-btn">LOGOUT</button></form>
    {{else}}
    <ul class="nav navbar-nav">
      <li><a href="/users/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/users/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    {{/if}}
</nav>









