*{
    box-sizing:border-box;
}

.back-container{
    height:100%;
    width:100%;
    background-image:linear-gradient(45deg,#AC2832,
#000000,
#DFD297,
#FFFFFF);
    background-position: center;
    position: absolute;
}



.form-container
{
    background-color:gray;
    height:600px;
    position:relative;
    width:380px;
    margin: 6% auto;
    background: linear-gradient(135deg,#ff105f,#ffad06);
    padding: 5px;
}

.input-group{
    top: 120px;
    position: absolute;
    left:40px;
    width:280px;
    transition: .5s;
}

label{
    font-size: 18px;
    font-weight:normal;
    display: inline-block;
    text-align: center;
}

.input-field{
    width:100%;
    padding: 10px 0;
    margin:5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    font-size: 20px;
}

.submit-btn{
    width: 90%;
    padding: 18px 30px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    border:1px solid red;
    font-size:20px;
    margin-top: 10px;
    margin-left: 10px;
}

h3{
    font-size: 30px;
    text-align: center;
}

.back-to-register{
    text-decoration: none;
    position:absolute;
    padding:15px;
    bottom:0;
    right:0;
    font-size: 20px;
    color:black;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    border:1px solid red;
}